# Node
.build_cache
node_modules

# Python
__pycache__
dash_material_components/
!dash_material_components/__init__.py
!dash_material_components/themes/

# Jupyter
.ipynb_checkpoints

# Pypi
dist
*.egg-info
pip-wheel-metadata

# PyTest
.pytest_cache
.pytest_results
geckodriver.log

# MyPy
.mypy_cache

# Ruff
.ruff_cache

# UV
.venv
.env

# MacOS
.DS_Store
.localized
*~

# Pyenv
.python-version
