# Node
.build_cache
node_modules

# Python
__pycache__
dash_mdc_neptune/
!dash_mdc_neptune/__init__.py
!dash_mdc_neptune/themes/

# Jupyter
.ipynb_checkpoints

# Pypi
dist
*.egg-info
pip-wheel-metadata

# PyTest
.pytest_cache
.pytest_results
geckodriver.log

# MyPy
.mypy_cache

# Poetry
.venv

# Shell
.env

# IDE
.idea

# MacOS
.DS_Store
.localized
*~

# Pyenv
.python-version
