[build-system]
requires = ["poetry>=1.0.0"]
build-backend = "poetry.masonry.api"

[tool.poetry]
# Description
name = "dash-mdc-neptune"
version = "0.1.6"
description = "Dash Material Design components for the Neptune platform."
# Credentials
license = "MIT"
authors = ["Noos Energy <contact@noos.energy>"]
homepage = "https://github.com/noosenergy/dash-mdc-neptune"
# Package data
readme = "README.md"
packages = [
    { include = "dash_mdc_neptune"},
]
include = [
    "dash_mdc_neptune/*.py",
    "dash_mdc_neptune/*.js",
    "dash_mdc_neptune/*.js.map",
    "dash_mdc_neptune/metadata.json",
    "dash_mdc_neptune/package-info.json",
    "dash_mdc_neptune/themes/static/*.png",
    "README.md",
    "LICENSE",
    "package.json",
]
# Distribution
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.8",
    "Typing :: Typed",
]

[tool.poetry.dependencies]
python = "^3.8"
# Current incompatibility with jupyter-dash & django-plotly-dash
# https://github.com/plotly/jupyter-dash/issues/75
# https://github.com/GibbsConsulting/django-plotly-dash/issues/354
dash = ">=1.15.0,<2.0.0"
matplotlib = "*"

[tool.poetry.dev-dependencies]
dash = { version = ">=1.15.0,<2.0.0", extras = ["dev", "testing"] }
# Format
isort = "*"
black = {version = "*", allow-prereleases = true}
# Linter
pydocstyle = "*"
flake8 = "*"
mypy = "*"
# Debugging
ipdb = "*"
ipython = "*"
jupyterlab = "*"
jupyter-dash = "*"

[tool.isort]
line_length = 99
multi_line_output = 3
lines_after_imports = 2
default_section = "THIRDPARTY"
known_first_party = "dash_mdc_neptune"
sections = "STDLIB,THIRDPARTY,FIRSTPARTY,LOCALFOLDER"

[tool.black]
line-length = 99
target_version = ['py38']
