[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_full_version = "3.8.6"

[pipenv]
allow_prereleases = true

[packages]
# First party libraries
neptune-energy-client = {editable = true, git = "https://github.com/noosenergy/neptune-energy-client.git"}
neptune-analytics = {editable = true, git = "https://github.com/noosenergy/neptune-analytics.git", ref = "bf04bb85"}
dash-mdc-neptune = "*"
# IO
fsspec = {extras = ["s3"], version = "*"}
pyarrow = "*"
